#root{
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #AFF6EB;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
}

#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
